/* Глобальный стиль для box-sizing */
* {
    box-sizing: border-box;
}

/* Стили для body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

/* Секция заголовков */
header {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
}

/* Общий стиль для секций */
section {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Стили для заголовков */
h1, h2 {
    text-align: center;
}

h2 {
    color: #4CAF50;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

/* Список */
ul {
    list-style: square;
    padding-left: 20px;
    margin-top: 10px;
}

ul li {
    margin-bottom: 10px;
}

/* Контактные данные */
.personal-info {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
}

/* Ссылки */
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
